/* Nagłówek */
.header {
    width: 100%;
    padding: 10px 0;
}

/* Logo i nazwa strony */
.logo_i_nazwa_strony {
    position: relative;
    height: 100px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 500px;
    font-size: 48px;
    z-index: 1;
}

/* Skalowanie obrazka logo */
img {
    object-fit: cover;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url(grafika/tin_1.png);
}

.nazwa_strony {
    text-align: center;
}

/* Nazwa_strony skalowanie na małych ekranach */
@media (max-width: 500px) {
    .logo_i_nazwa_strony {
        max-width: 100%;
        font-size: 24px;
    }
}

/* Menu rozwijane */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

ul > li {
    float: left;
    width: 150px;
    margin-left: 1px;
    background-color: rgb(241, 241, 241);
    position: relative; /* Dodane - ustawienie pozycji jako względnej */
}

ul > li:hover {
    background-color: rgb(192, 192, 192);
}

ul > li > ul > li:hover {
    background-color: rgb(192, 192, 192);
}

ul a {
    display: block;
    text-decoration: none;
    padding: 0 5px;
}

ul > li > ul {
    display: none;
    position: absolute; /* Dodane - ustawienie pozycji jako absolutnej */
    top: 100%; /* Dodane - przesunięcie menu rozwijanego pod linkiem nadrzędnym */
    left: 0; /* Dodane - ustawienie odstępu od lewej krawędzi */
    z-index: 1; /* Dodane - ustawienie indeksu z */
}

ul > li:hover > ul {
    display: block;
}

/* Responsywnosc strony i dzielenie na box_1 i box_2 */
body {
    background-color: rgb(226, 226, 226);
}

.content_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content_main > div {
    padding: 10px;
}

/* Responsywność strony i dzielenie na box_1 i box_2 */
.base_1 {
    background-color: gray;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
}

.box_1, .box_2 {
    width: 44%;
    float: left;
    border: 1px solid black;
    padding: 10px;
    display: inline;
    margin: 20px; /* Dodane - marginesy od góry i od dołu */
}

.box_1 {
    background-color: white;
}

.box_2 {
    background-color: white;
    float: left;
}

img {
    position: relative;
    width: 100%;
}

@media (max-width: 500px) {
    .base_1 {
        flex-direction: column; /* responsywność box_1 i box_2 w base_1 */
    }
}

/* Tabelka */
.table_data{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

/* Linie odgraniczające komórki */
tr{
    border-bottom: 1pt solid black;
}

/* Nazwa tabelki */
.table_title {
    font-size: 24px;
}

/* Formularz */
.form_data {
    width: 100%;
    text-align: left;
    background-color: #ccc;
}

/* Nazwa formularza */
.form_title{
    font-size: 24px;
}

/* Opisy */
label {
    display: block;
}

/* Pola do wpisywania i zaznaczania */
input, select, textarea {
    width: 90%;
}

/* Lista opcji */
.opcje_lista {
    display: flex;
    flex-direction: row;

    /* Ustaw szerokość elementów na 100% */
    li {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Dodaj pole wyboru */
    input {
        width: 100%;
    }
}

/* Nagłówek */
.header {
    width: 100%;
    padding: 10px 0;
}

/* Logo i nazwa strony */
.logo_i_nazwa_strony {
    position: relative;
    height: 100px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 500px;
    font-size: 48px;
    z-index: 1;
}

/* Skalowanie obrazka logo */
img {
    object-fit: cover;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url(grafika/tin_1.png);
}

.nazwa_strony {
    text-align: center;
}

/* Nazwa_strony skalowanie na małych ekranach */
@media (max-width: 500px) {
    .logo_i_nazwa_strony {
        max-width: 100%;
        font-size: 24px;
    }
}

/* Menu rozwijane */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

ul > li {
    float: left;
    width: 150px;
    margin-left: 1px;
    background-color: rgb(241, 241, 241);
    position: relative; /* Dodane - ustawienie pozycji jako względnej */
}

ul > li:hover {
    background-color: rgb(192, 192, 192);
}

ul > li > ul > li:hover {
    background-color: rgb(192, 192, 192);
}

ul a {
    display: block;
    text-decoration: none;
    padding: 0 5px;
}

ul > li > ul {
    display: none;
    position: absolute; /* Dodane - ustawienie pozycji jako absolutnej */
    top: 100%; /* Dodane - przesunięcie menu rozwijanego pod linkiem nadrzędnym */
    left: 0; /* Dodane - ustawienie odstępu od lewej krawędzi */
    z-index: 1; /* Dodane - ustawienie indeksu z */
}

ul > li:hover > ul {
    display: block;
}

/* Responsywnosc strony i dzielenie na box_1 i box_2 */
body {
    background-color: rgb(226, 226, 226);
}

.content_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content_main > div {
    padding: 10px;
}

/* Responsywność strony i dzielenie na box_1 i box_2 */
.base_1 {
    background-color: gray;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
}

.box_1, .box_2 {
    width: 44%;
    float: left;
    border: 1px solid black;
    padding: 10px;
    display: inline;
    margin: 20px; /* Dodane - marginesy od góry i od dołu */
}

.box_1 {
    background-color: white;
}

.box_2 {
    background-color: white;
    float: left;
}

img {
    position: relative;
    width: 100%;
}

@media (max-width: 500px) {
    .box_1, .box_2 {
        width: 100%;
        display: block;
        float: none;
        margin: 20px; /* Dodane - marginesy od góry i od dołu na małych ekranach */
    }
}

/* Tabelka */
.table_data{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

/* Linie odgraniczające komórki */
tr{
    border-bottom: 1pt solid black;
}

/* Nazwa tabelki */
.table_title {
    font-size: 24px;
}

/* Formularz */
.form_data {
    width: 100%;
    text-align: left;
    background-color: #ccc;
}

/* Nazwa formularza */
.form_title{
    font-size: 24px;
}

/* Opisy */
label {
    display: block;
}

/* Pola do wpisywania i zaznaczania */
input, select, textarea {
    width: 90%;
}

/* Lista opcji */
.opcje_lista {
    display: flex;
    flex-direction: row;

    /* Ustaw szerokość elementów na 100% */
    li {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Dodaj pole wyboru */
    input {
        width: 100%;
    }
}

/* Stopka */
.footer > .foot {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.foot > li{
    float: left;
    margin-left: 1px;
    text-align: center;
    width: 33%;
    height: 100%;
}

/* Dodaj style dla stopki w zależności od szerokości ekranu */
@media all and (max-width: 600px) {
    .footer > .foot {
        height: auto;
        flex-direction: column;
    }
    .foot > li {
        width: 100%;
    }
}
